/* Definições gerais */
body {
    background: url('imagens/fundo.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #ffffff;
    display: flex; /* Adicionar flexbox */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    height: 100vh; /* Definir a altura da tela inteira */
    margin: 0; /* Remover margens padrão */
}

/* Container de login */
.login-container {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Títulos */
h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

/* Inputs com placeholders */
input {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1); /* Fundo transparente */
    color: #ffffff; /* Cor do texto */
}

input::placeholder {
    color: #ffffff; /* Cor do placeholder */
    opacity: 0.8; /* Opacidade do placeholder */
}

input:focus {
    border-color: #007acc;
    outline: none;
}

/* Botões */
.botao {
    background-color: #007acc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px; /* Botões arredondados */
}

button:hover {
    background-color: #005f99;
}

/* Links */
a {
    color: #3399ff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}